h3{
    text-align: left;
    color: black;
    background-color: rgb(240, 162, 16);
    font-size: x-large;
}
*{
    padding-left : 5px;
    text-align: center;
    color: darkgoldenrod;
    background-color: #1c0131;
}
input{
    text-align: left;
    background-color: aliceblue;
}
select{
    color: black;
    background-color: aliceblue;
}
button#submit{
    background-color: rgb(16, 97, 16);
    border: 1px solid;
    margin-left: 400px;

}
button#cancel{
    background-color: rgb(187, 8, 44);
    border: 1px solid;
}